  <div class = "container">
    <div class = "jumbotron">
      <h1>Allergy Counter</h1>
    </div>
    <form action='/detector' method='get'>
      <div class="form-group">
        <label for="number">Enter a number to find if you are allergic!</label>
        <input id="number" name="number" class="form-control" type="number">
      </div>
       <button type="submit" class="btn">Enter</button>
     </form>
  </div>
